.container {

    display: flex;
    position: absolute;
    z-index: 6;
    align-self: center;
    background-color: transparent;
    border: none;
    bottom: 10px;
    right: 10px;
    color: black;

}

.icon {
    font-size: 30px;
}